/*html {*/
/*font-size: 0.8rem;*/
/*}*/
/*default*/

.edu-row-0 img,.edu-row-1 img,.edu-row-2 img{
    width: 60px;
    height: 60px;
}
.edu-row-0,.edu-row-1,.edu-row-2{
    font-size: 10px!important;
}
@media only screen and (min-width: 320px) {
    .edu-row-0 img,.edu-row-1 img,.edu-row-2 img{
        width: 50px;
        height: 50px;
        margin-right:10px!important;
    }
    .edu-row-0,.edu-row-1,.edu-row-2{
        font-size: 9px!important;
    }
    .edu-row-0 p,.edu-row-1 p,.edu-row-2 p{
      margin-bottom:30px!important; ;
    }
    .eduInfo{
        margin-top: 30px!important;
    }
}
@media only screen and (min-width: 576px) {
    .inp-container-1{
        font-size: 20px;
    }
    .edu-row-0 img,.edu-row-1 img,.edu-row-2 img{
        width: 75px;
        height: 75px;
    }
    .edu-row-0,.edu-row-1,.edu-row-2{
        font-size: 12.5px!important;
    }
}
@media only screen and (min-width: 768px) {
    .edu-row-0 img,.edu-row-1 img,.edu-row-2 img{
        width: 80px;
        height: 80px;
    }
    .edu-row-0,.edu-row-1,.edu-row-2{
        font-size: 14.5px!important;
    }
    .inp-container-1{
        font-size: 17px;
    }

}
@media only screen and (min-width: 922px) {
    .inp-container-1{
        font-size: 17px;
    }
    .edu-row-0,.edu-row-1,.edu-row-2{
        font-size: 15px!important;
    }
    .edu-row-0 img,.edu-row-1 img,.edu-row-2 img{
       width: 100px;
        height: 100px;
    }
}
@media only screen and (min-width: 1200px) {
    .inp-container-1{
        font-size: 19px;
    }
    .input-1, .input-2 {
        font-size: 1rem;
    }
    .edu-row-0,.edu-row-1,.edu-row-2{
        font-size: 15px!important;
    }
}
